body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    background-color: orange;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
}

img {
    width: 300px;
    height: auto;
}

h2 {
    color: #ffa500;
    font-size: 25px;
}